:root {
	--color-bg: #fcfcfc;
	--color-fg: #3a3a3a;
	--color-border: #797c814d;
	--color-twilight: #696eff;
	--color-powerpuff: #f8acff;
	--color-accent: var(--color-twilight);

	--spacing-1: 4px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;

	--border: 1px solid var(--color-border);
	--border-radius-table: 12px;

	--box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);

	--font-size-small: 13px;

	--gradient: linear-gradient(to right, var(--color-twilight), var(--color-powerpuff));
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #1c1c1c;
		--color-fg: #e6e6e6;
		--color-accent: var(--color-powerpuff);

	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
