.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-5) var(--spacing-5);
}

.title {
	font-size: 96px;
	font-stretch: 90%;
	font-weight: 900;
}

.description {
	font-size: 24px;
	font-stretch: 95%;
	font-weight: 300;
}

.title,
.description {
	user-select: none;
}