.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-5) var(--spacing-5);
}

.title {
	background: linear-gradient(to right, #696eff, #f8acff);
	background-clip: text;
	color: transparent;
	font-size: 96px;
	font-stretch: 90%;
	font-weight: 900;
	animation: magically-appear 2000ms both;
}

.description {
	font-size: 20px;
	font-stretch: 90%;
	font-weight: 300;
	animation: magically-appear 1000ms both;
	animation-delay: 1500ms
}

.title,
.description {
	user-select: none;
}

@keyframes magically-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}