.tableContainer {
	display: flex;
	border-top: var(--border);
	margin: var(--spacing-4);
	overflow: hidden;
}

.table {
	border-collapse: collapse;
	width: 100%;
	font-size: var(--font-size-small);
	text-align: left;
}

.tableRow:first-child,
.tableRow:not(:last-child) {
	border-bottom: var(--border);
}

.tableHeadCell,
.tableCell {
	padding: var(--spacing-3);
}