.tableContainer {
	display: flex;
	overflow: hidden;
}

.table {
	border-collapse: collapse;
	width: 100%;
	font-size: var(--font-size-small);
	text-align: left;
}

.tableRow:first-child,
.tableRow:not(:last-child) {
	border-bottom: var(--border);
}

.tableHead {
	color: var(--color-twilight);
}

@media (prefers-color-scheme: dark) {
	.tableHead {
		color: var(--color-powerpuff);
	}
}

.tableHeadCell,
.tableCell {
	padding: var(--spacing-3) 0;
}