.main {
	padding: 0 var(--spacing-5) var(--spacing-5);
}

.seasonsList {
	margin: 0 auto;
	max-width: 800px;
}

.season {
	border-radius: var(--spacing-2);
	box-shadow: var(--box-shadow);
	padding: var(--spacing-4);
	outline: var(--border);
}

.season:not(:last-child) {
	margin-bottom: var(--spacing-4);
}

@media (prefers-color-scheme: dark) {
	.season {
		box-shadow: none;
	}
}

.seasonHeading {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: var(--spacing-2);
}
